<h1>Creatures</h1>


<%= link_to 'New Creature', new_creature_path, class: 'btn btn-success' %>

<% @creatures.each do |creature| %>
<div class="well">
  <h2><%= creature.name %></h2>
  <p><%= creature.description %></p>
  <%= link_to 'Show Creature', creature %>
  <%= link_to 'Edit Creature', edit_creature_path(creature) %>
  <%= link_to 'Delete Creature', creature, class: 'btn btn-danger', method: :delete %>
</div>
<% end %>